transformers==4.47.0
tokenizers==0.21.0
torch
yfinance
streamlit
langchain
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
faiss-cpu
sentence-transformers==3.3.1
pandas
plotly
requests
python-dotenv
fpdf2
scikit-learn
numpy
langchain-huggingface
