streamlit==1.57.0
transformers==4.47.0
tokenizers==0.21.0
torch==2.11.0
yfinance==1.3.0
langchain==1.2.17
langchain-google-genai==4.2.2
langchain-community==0.4.1
langchain-core==1.3.2
langchain-text-splitters==1.1.2
langchain-groq==1.1.2
faiss-cpu==1.13.2
sentence-transformers==3.3.1
pandas==3.0.2
plotly==6.7.0
requests==2.33.1
python-dotenv==1.2.2
fpdf2==2.8.7
scikit-learn==1.8.0
numpy==2.4.4
langchain-huggingface
prophet==1.1.6
